<div class="container">
    <div class="scrape-div text-center">
        <div class="jumbo-head">
            <h4>Click here to scrape the latest from NPR's music news:</h4>
            <button id="scrape-btn" type="button" class="btn btn-info">Scrape articles</button>
        </div>
        <div class="jumbo-body">
        </div>
    </div>

    <div class="jumbotron">
        <h1 class="display-4">Articles:</h1>
        <p class="lead">Your scraped articles will show here...</p>
        <hr class="my-4">
    </div>
</div>



